@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Pen+Script&family=Questrial&family=Teko:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d2228;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mdx-content {
  & li {
    @apply list-inside list-item font-questrial text-xl;
  }

  & p,
  & span {
    @apply font-questrial text-xl;
  }

  & strong {
    @apply text-teal-200 font-bold;
  }

  & h1 {
    @apply font-bangers text-6xl text-center flex flex-col text-[#cc86df];
  }

  & a {
    @apply text-teal-400 underline
  }

  & h2 {
    @apply font-bangers text-3xl text-center flex flex-col text-[#8ae4e7];
  }

  & link {
    @apply text-teal-400 underline;
  }
}

@layer utilities {
  li>p {
    display: inline;
  }
}

h1 {
  @apply font-bangers text-6xl text-center flex flex-col text-[#cc86df];
}